<div class="container">
  <%= render 'books/error',book: @book %>
  <div class="row">
    <div class="mx-auto  col-sm-10 col-xl-6">
      <h1>Editing Book</h1>
        <%= render 'books/post', book: @book %>
        <%= link_to "Show", book_path(@book) %> |
        <%= link_to "Back", books_path %>
    </div>
  </div>
</div>